body {
  margin: 0;
  margin-bottom: 2rem;
}

.col {
  margin: auto;
  max-width: 320px;
}

#main {
  padding: 16px;
}

#tag-container {
  opacity: 0;

  .tag,
  .tag-logo {
    cursor: default;
  }
}

.loading-container {
  margin-top: 24px;
  padding-top: 24px;
  text-align: center;
  font-family: 'Source Code Pro', monospace;
  font-size: 12px;
}

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
  padding: 12px 16px;
  border-bottom: 1px solid #eaeaea;

  .logo-container {
    .logo {
      width: 56px;
    }
  }

  .controls-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;

    > div + div {
      margin-left: 32px;
    }
  }

  .info-container {
     .info {
       display: flex;
       justify-content: center;
       align-items: center;
       width: 32px;
       height: 32px;
       border-radius: 50%;
       background-color: #ffd300;
     }
  }

}