body {
  margin: 0;
  margin-bottom: 2rem;
}

.col {
  margin: auto;
  max-width: 320px;
}

#main {
  padding: 16px;
}

#tag-container {
  opacity: 0;
}

.loading-container {
  margin-top: 24px;
  text-align: center;
  font-family: 'Source Code Pro', monospace;
  font-size: 12px;
}