ul {
  padding: 0;
  margin: 0;

  li {
    background-color: yellow;
  }
}

h1 {
  position: relative;
  display: inline-block;
  padding: 0 5px;
  margin-bottom: .25em;
  background-color: #fff;

  &::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%);
    width: 320px;
    height: 2px;
    background-color: #222;
    z-index: -1;
  }
}

.tag {
  position: relative;
  cursor: default;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #222;
  }
}

.tag-logo {
  cursor: default;
  position: relative;
  top: 3px;
  font-size: 11px;
  color: #222;
  text-transform: uppercase;
  font-family: 'Source Code Pro', monospace;
  padding-left: 4px;
  padding-right: 4px;

  &::before {
    content: '';
    transform: translateY(-3px);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #ffd300;
    z-index: -1;
  }
}