.category-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.category-list {
  > div {
    display: flex;
    flex-wrap: wrap;
  }

  button {
    margin-left: 24px;
  }
}

.content-container {
  margin: auto;


  p {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
    padding: 0 4px;
    font-family: 'Lora', serif;
    font-size: 16px;
    color: #222;

    span {
      margin: 4px;
      cursor: pointer;
    }
  }
}