.controls {
  display: flex;
  flex-direction: row;
}

.category-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  list-style-type: none;

  > li {
    width: 100%;
  }
}

.content-container {
  margin: auto;


  p {
    display: flex;
    // justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
    padding: 0 4px;
    font-family: 'Lora', serif;
    font-size: 16px;
    color: #222;

    span {
      margin: 4px;
      cursor: pointer;
    }
  }
}