{% extends 'default.html' %}

    {% block body %}
        <nav id='nav'>
            <ul class="category-list">
                <li>
                    <button data-category='achterklap' class="btn btn--category btn--achterklap">achterklap</button>
                </li>
                <li>
                    <button data-category='algemeen' class="btn btn--category btn--algemeen">algemeen</button>
                </li>
                <li>
                    <button data-category='sport' class="btn btn--category btn--sport">sport</button>
                </li>
            </ul>
        </nav>

        <section class="controls">
            <button id="reset" class="btn btn--reset">reset</button>
            <button id="blackout" class="btn btn--blackout">blackout</button>
        </section>

        <main>
            <h1>Blackout Poems</h1>
            <div id='content-container' class='content-container'></div>
        </main>


    {% endblock %}

